@using WebsiteGamingGear.Models
@using PagedList.Mvc
@model PagedList.PagedList<WebsiteGamingGear.Models.DanhGia>

@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar"
             src="~/Content/images/logoHQ.png"
             width="50"
             alt="User Image" />
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr />
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="@Url.Action("TrangChu","Admin")">
                <i class="app-menu__icon bx bx-tachometer"></i><span class="app-menu__label">Bảng điều khiển</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("SanPham","Admin")">
                <i class="app-menu__icon bx bx-purchase-tag-alt"></i><span class="app-menu__label">Quản lý sản phẩm</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("LienHe","Admin")">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý liên hệ</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("TinTuc","Admin")">
                <i class="app-menu__icon bx bx-news"></i><span class="app-menu__label">Quản lý tin tức </span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("BinhLuanTinTuc","Admin")">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý bình luận</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item active" href="@Url.Action("BinhLuanSanPham","Admin")">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý đánh giá</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("TaiKhoan","Admin")">
                <i class="app-menu__icon bx bx-user"></i><span class="app-menu__label">Quản lý tài khoản</span>
            </a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <b>Danh sách bình luận</b>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên người BL</th>
                                <th width="200">Tên sản phẩm</th>
                                <th width="400">Nội dung</th>
                                <th>Số sao</th>
                                <th>Trạng thái</th>
                                <th>Ngày thêm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.idDanhGia</td>
                                    <td>@item.TaiKhoan.ten</td>
                                    <td>@item.SanPham.tenSanPham</td>
                                    <td>@item.noiDung</td>
                                    <td>@item.soSao</td>
                                    <td>
                                        <button class="StatusOrder btn p-0" data-status="@item.trangThai" data-id="@item.idDanhGia" data-toggle="modal"
                                                data-target="#modal-secondary">
                                            @if (item.trangThai == "1")
                                            {
                                                <button type="button" class="btn btn-warning btn-sm px-3">
                                                    <span class="indicator-label">
                                                        Chờ duyệt
                                                    </span>
                                                </button>
                                                <button id="buttonwaiting" type="button" onclick="location.href='@Url.Action("BinhLuanSPDaDuyet", "Admin", new { id = item.idDanhGia })'" class="btn btn-secondary btn-sm px-3 btnloader">
                                                    <span class="indicator-label">
                                                        Đã duyệt
                                                    </span>
                                                    <span class="indicator-progress">
                                                        ... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                    </span>
                                                </button>
                                            }
                                            else if (item.trangThai == "2")
                                            {
                                                <button type="button" id="buttonwaiting" onclick="location.href='@Url.Action("BinhLuanSPThuHoi", "Admin", new { id = item.idDanhGia })'" class="btn btn-secondary btnloader btn-sm px-3 btnloader">
                                                    <span class="indicator-label">
                                                        Chờ duyệt
                                                    </span>
                                                    <span class="indicator-progress">
                                                        ... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                    </span>
                                                </button>
                                                <button type="button" class="btn btn-info btn-sm px-3">
                                                    Đã duyệt
                                                </button>
                                            }
                                        </button>
                                    </td>
                                    <td>@item.ngayThem</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*Tạo liên kết các trang*@
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("BinhLuanSanPham", new { page = page }))
                    </div>
                    <style>
                        .MenuTrang li {
                            display: inline;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript"
        src="js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="~/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $("#sampleTable").DataTable();
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = "0" + dd;
        }
        if (mm < 10) {
            mm = "0" + mm;
        }
        today = day + ", " + dd + "/" + mm + "/" + yyyy;
        tmp = '<span class="date"> ' + today + " - " + nowTime + "</span>";
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }</script>



