@model WebsiteGamingGear.Models.LienHe
@{
    ViewBag.Title = "PhanHoiLienHe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar"
             src="~/Content/images/logoHQ.png"
             width="50"
             alt="User Image" />
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr />
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="@Url.Action("TrangChu","Admin")">
                <i class="app-menu__icon bx bx-tachometer"></i><span class="app-menu__label">Bảng điều khiển</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("SanPham","Admin")">
                <i class="app-menu__icon bx bx-purchase-tag-alt"></i><span class="app-menu__label">Quản lý sản phẩm</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item active" href="@Url.Action("LienHe","Admin")">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý liên hệ</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("TinTuc","Admin")">
                <i class="app-menu__icon bx bx-news"></i><span class="app-menu__label">Quản lý tin tức </span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("BinhLuanTinTuc","Admin")">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý bình luận</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("BinhLuanSanPham","Admin")">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý đánh giá</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="@Url.Action("TaiKhoan","Admin")">
                <i class="app-menu__icon bx bx-user"></i><span class="app-menu__label">Quản lý tài khoản</span>
            </a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("TinTuc","Admin")">Danh sách liên hệ</a></li>
            <li class="breadcrumb-item">Phản hồi liên hệ</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Phản hồi liên hệ</h3>
                <div class="tile-body">
                    @using (Html.BeginForm("PhanHoiLienHe", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.idLienHe)                          
                            <div>
                                <label class="control-label">Nội dung phản hồi</label>
                                <textarea class="form-control" name="phanHoiLH">@Model.phanHoiLH</textarea>
                            </div>
                            <div class="form-group col-md-3" style="padding-top:15px">
                                <button class="btn btn-save" type="submit">Gửi phản hồi</button>
                                <a class="btn btn-cancel" href="@Url.Action("LienHe","Admin")">Hủy bỏ</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/admin.js"></script>
<script src="~/js/plugins/pace.min.js"></script>
<script>
    const inpFile = document.getElementById("inpFile");
    const loadFile = document.getElementById("loadFile");
    const previewContainer = document.getElementById("imagePreview");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".image-preview__image");
    const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
    inpFile.addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            previewDefaultText.style.display = "none";
            previewImage.style.display = "block";
            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);
        }
    });</script>

