@model WebsiteGamingGear.Models.TinTuc

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar"
             src="~/Content/images/logoHQ.png"
             width="50"
             alt="User Image" />
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr />
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="index.html">
                <i class="app-menu__icon bx bx-tachometer"></i><span class="app-menu__label">Bảng điều khiển</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-table.html">
                <i class="app-menu__icon bx bx-id-card"></i>
                <span class="app-menu__label">Quản lý khách hàng</span>
            </a>
        </li>
        <!-- <li><a class="app-menu__item " href="#"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Quản lý khách hàng</span></a></li> -->
        <li>
            <a class="app-menu__item" href="table-data-product.html">
                <i class="app-menu__icon bx bx-purchase-tag-alt"></i><span class="app-menu__label">Quản lý sản phẩm</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-oder.html">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý đơn hàng</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item active" href="table-data-banned.html">
                <i class="app-menu__icon bx bx-news"></i><span class="app-menu__label">Quản lý tin tức </span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-money.html">
                <i class="app-menu__icon bx bx-dollar"></i><span class="app-menu__label">Bảng kê lương</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="quan-ly-bao-cao.html">
                <i class="app-menu__icon bx bx-pie-chart-alt-2"></i><span class="app-menu__label">Báo cáo doanh thu</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="page-calendar.html">
                <i class="app-menu__icon bx bx-calendar-check"></i><span class="app-menu__label">Lịch công tác </span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="#">
                <i class="app-menu__icon bx bx-cog"></i><span class="app-menu__label">Cài đặt hệ thống</span>
            </a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("TinTuc","Admin")">Danh sách tin tức</a></li>
            <li class="breadcrumb-item">Sửa tin tức</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Sửa thông tin sản phẩm</h3>
                <div class="tile-body">
                    @using (Html.BeginForm("SuaTinTuc", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.idTinTuc)
                            <div class="form-group col-md-3">
                                <label class="control-label">Tiêu đề tin</label>
                                <input class="form-control" name="tieuDeTin" type="text" value="@Model.tieuDeTin">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4" style="color:white">
                                <label for="hinhAnh1">Ảnh bìa tin</label>
                                <div class="tm-product-img-edit mx-auto">
                                    <img src="@Url.Content("~/Content/images/" + Model.hinhAnh1)" alt="Ảnh bìa tin" class="img-fluid d-block mx-auto" width="200">(Ảnh hiện tại)
                                    @*THÔNG BÁO TRÙNG*@
                                    @ViewBag.Thongbao
                                    <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
                                </div>
                                <div class="custom-file mt-3 mb-3">
                                    Chọn ảnh mới
                                    <input id="fileInput" type="file" name="fileupload" style="display:none;">
                                    <input type="button" class="btn btn-primary btn-block mx-auto" value="THAY ĐỔI ẢNH BÌA" onclick="document.getElementById('fileInput').click();">
                                </div>
                            </div>                      
                            <div class="form-group col-md-3">
                                <label for="exampleSelect1" class="control-label">Danh mục</label>
                                @Html.DropDownListFor(model => model.idDanhMucTT, (SelectList)ViewBag.idDanhMuc, "-- Chọn danh mục --", new { @class = "form-select form-select-solid" })
                            </div>
                            <div class="form-group col-md-3 ">
                                <label for="exampleSelect1" class="control-label">Thể loại</label>
                                @Html.DropDownListFor(model => model.theLoaiTin, (SelectList)ViewBag.idTheLoai, "-- Chọn thể loại --", new { @class = "form-select form-select-solid" })
                            </div>                          
                            <div>
                                <label class="control-label">Nội dung</label>
                                <textarea class="form-control" name="noiDung">@Model.noiDung</textarea>
                            </div>
                            <div class="form-group col-md-3" style="padding-top:15px">
                                <button class="btn btn-save" type="submit">Cập nhật</button>
                                <a class="btn btn-cancel" href="@Url.Action("TinTuc","Admin")">Hủy bỏ</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/admin.js"></script>
<script src="~/js/plugins/pace.min.js"></script>
<script>
    const inpFile = document.getElementById("inpFile");
    const loadFile = document.getElementById("loadFile");
    const previewContainer = document.getElementById("imagePreview");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".image-preview__image");
    const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
    inpFile.addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            previewDefaultText.style.display = "none";
            previewImage.style.display = "block";
            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);
        }
    });</script>
