@using WebsiteGamingGear.Models
@using PagedList.Mvc
@model PagedList.PagedList<WebsiteGamingGear.Models.TinTuc>

@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar"
             src="~/Content/images/logoHQ.png"
             width="50"
             alt="User Image" />
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr />
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="index.html">
                <i class="app-menu__icon bx bx-tachometer"></i><span class="app-menu__label">Bảng điều khiển</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-table.html">
                <i class="app-menu__icon bx bx-id-card"></i>
                <span class="app-menu__label">Quản lý khách hàng</span>
            </a>
        </li>
        <!-- <li><a class="app-menu__item " href="#"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Quản lý khách hàng</span></a></li> -->
        <li>
            <a class="app-menu__item" href="table-data-product.html">
                <i class="app-menu__icon bx bx-purchase-tag-alt"></i><span class="app-menu__label">Quản lý sản phẩm</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-oder.html">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý đơn hàng</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item active" href="table-data-banned.html">
                <i class="app-menu__icon bx bx-news"></i><span class="app-menu__label">Quản lý tin tức </span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-money.html">
                <i class="app-menu__icon bx bx-dollar"></i><span class="app-menu__label">Bảng kê lương</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="quan-ly-bao-cao.html">
                <i class="app-menu__icon bx bx-pie-chart-alt-2"></i><span class="app-menu__label">Báo cáo doanh thu</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="page-calendar.html">
                <i class="app-menu__icon bx bx-calendar-check"></i><span class="app-menu__label">Lịch công tác </span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="#">
                <i class="app-menu__icon bx bx-cog"></i><span class="app-menu__label">Cài đặt hệ thống</span>
            </a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <b>Danh sách tin tức</b>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm"
                               href="@Url.Action("ThemTinTuc","Admin")"
                               title="Thêm"><i class="fas fa-plus"></i> Tạo mới tin tức</a>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th width="600">Tiêu đề</th>
                                <th>Ảnh</th>
                                <th>Danh mục</th>
                                <th>Thể loại</th>
                                <th>Ngày soạn</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.idTinTuc</td>
                                    <td>@item.tieuDeTin</td>
                                    <td>
                                        <img src="~/Content/images/@item.hinhAnh1" alt="" width="100" />
                                    </td>
                                    <td>@item.DanhMucTinTuc.tenDanhMuc</td>
                                    <td>@item.TheLoaiTinTuc.tenTheLoai</td>
                                    <td>@item.ngaySoan</td>
                                    <td>
                                        <a href="@Url.Action("XoaTinTuc", "Admin", new { id = item.idTinTuc})">
                                            <button class="btn btn-primary btn-sm trash"
                                                    type="button"
                                                    title="Xóa">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("SuaTinTuc", "Admin", new { id = item.idTinTuc})">
                                            <button class="btn btn-primary btn-sm edit"
                                                    type="button"
                                                    title="Sửa"
                                                    id="show-emp"
                                                    data-toggle="modal"
                                                    data-target="#ModalUP">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*Tạo liên kết các trang*@
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("TinTuc", new { page = page }))
                    </div>
                    <style>
                        .MenuTrang li {
                            display: inline;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript"
        src="js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="~/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $("#sampleTable").DataTable();
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = "0" + dd;
        }
        if (mm < 10) {
            mm = "0" + mm;
        }
        today = day + ", " + dd + "/" + mm + "/" + yyyy;
        tmp = '<span class="date"> ' + today + " - " + nowTime + "</span>";
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }</script>
