@model WebsiteGamingGear.Models.TinTuc
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar"
             src="~/Content/images/logoHQ.png"
             width="50"
             alt="User Image" />
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr />
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="@Url.Action("TrangChu","Admin")">
                <i class="app-menu__icon bx bx-tachometer"></i><span class="app-menu__label">Bảng điều khiển</span>
            </a>
        </li>
        <!-- <li><a class="app-menu__item " href="#"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Quản lý khách hàng</span></a></li> -->
        <li>
            <a class="app-menu__item" href="@Url.Action("SanPham","Admin")">
                <i class="app-menu__icon bx bx-purchase-tag-alt"></i><span class="app-menu__label">Quản lý sản phẩm</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="#">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý đơn hàng</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item active" href="@Url.Action("TinTuc","Admin")">
                <i class="app-menu__icon bx bx-news"></i><span class="app-menu__label">Quản lý tin tức </span>
            </a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("SanPham","Admin")">Danh sách tin tức</a></li>
            <li class="breadcrumb-item">Xóa tin tức</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Bạn có chắc muốn xóa tin tức này?</h3>
                <div class="tile-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <b>Tin tức: </b><label class="control-label">@Model.tieuDeTin</label>
                        </div>
                        <div class="form-group col-md-3">
                            <img src="~/Content/images/@Model.hinhAnh1" width="200" />
                        </div>
                        <div class="form-group col-md-3">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <button style="width:76px" class="btn btn-save" type="submit">Xóa</button>
                            }
                            <a class="btn btn-cancel" href="@Url.Action("TinTuc", "Admin")">Hủy bỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/admin.js"></script>
<script src="~/js/plugins/pace.min.js"></script>
<script>
    const inpFile = document.getElementById("inpFile");
    const loadFile = document.getElementById("loadFile");
    const previewContainer = document.getElementById("imagePreview");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".image-preview__image");
    const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
    inpFile.addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            previewDefaultText.style.display = "none";
            previewImage.style.display = "block";
            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);
        }
    });</script>

