@model WebsiteGamingGear.Models.SanPham
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<!-- single-product31:30-->
<body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        <!-- Header Area End Here -->
        <!-- Begin Li's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="@Url.Action("TrangChu", "NguoiDung")">Trang chủ</a></li>
                        <li class="active">Chi tiết sản phẩm</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Li's Breadcrumb Area End Here -->
        <!-- content-wraper start -->
        <div class="content-wraper">
            <div class="container">
                <div class="row single-product-area">
                    <div class="col-lg-5 col-md-6">
                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div class="product-details-images slider-navigation-1">
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item"
                                       href="~/Content/images/@Model.hinhAnh"
                                       data-gall="myGallery">
                                        <img src="~/Content/images/@Model.hinhAnh"
                                             alt="product image" />
                                    </a>
                                </div>
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item"
                                       href="~/Content/images/@Model.hinhAnh1"
                                       data-gall="myGallery">
                                        <img src="~/Content/images/@Model.hinhAnh1"
                                             alt="product image" />
                                    </a>
                                </div>
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item"
                                       href="~/Content/images/@Model.hinhAnh2"
                                       data-gall="myGallery">
                                        <img src="~/Content/images/@Model.hinhAnh2"
                                             alt="product image" />
                                    </a>
                                </div>
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item"
                                       href="~/Content/images/@Model.hinhAnh3"
                                       data-gall="myGallery">
                                        <img src="~/Content/images/@Model.hinhAnh3"
                                             alt="product image" />
                                    </a>
                                </div>
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item"
                                       href="~/Content/images/@Model.hinhAnh4"
                                       data-gall="myGallery">
                                        <img src="~/Content/images/@Model.hinhAnh4"
                                             alt="product image" />
                                    </a>
                                </div>
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item"
                                       href="~/Content/images/@Model.hinhAnh5"
                                       data-gall="myGallery">
                                        <img src="~/Content/images/@Model.hinhAnh5"
                                             alt="product image" />
                                    </a>
                                </div>
                            </div>
                            <div class="product-details-thumbs slider-thumbs-1">
                                <div class="sm-image">
                                    <img src="~/Content/images/@Model.hinhAnh"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="~/Content/images/@Model.hinhAnh1"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="~/Content/images/@Model.hinhAnh2"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="~/Content/images/@Model.hinhAnh3"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="~/Content/images/@Model.hinhAnh4"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="~/Content/images/@Model.hinhAnh5"
                                         alt="product image thumb" />
                                </div>
                            </div>
                        </div>
                        <!--// Product Details Left -->
                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="product-details-view-content pt-60">
                            <div class="product-info">
                                <h2>@Model.tenSanPham</h2>
                                @if (Model.soLuong == 0)
                                {
                                    <span style="font-size:20px" class="badge bg-danger">Hết hàng</span>

                                }
                                else if (Model.soLuong <= 3)
                                {
                                    <span style="font-size:20px" class="badge bg-warning">Sắp hết hàng</span>

                                }
                                else
                                {
                                    <span style="font-size:20px" class="badge bg-success">Còn hàng</span>
                                }
                                <div class="rating-box pt-20">
                                    <ul class="rating rating-with-review-item">
                                        @if (ViewBag.Trungbinhdanhgia > 0 && ViewBag.Trungbinhdanhgia <= 1.25)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        else if (ViewBag.Trungbinhdanhgia > 1.25 && ViewBag.Trungbinhdanhgia <= 1.75)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        else if (ViewBag.Trungbinhdanhgia > 1.75 && ViewBag.Trungbinhdanhgia <= 2.25)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        else if (ViewBag.Trungbinhdanhgia > 2.25 && ViewBag.Trungbinhdanhgia <= 2.75)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        else if (ViewBag.Trungbinhdanhgia > 2.75 && ViewBag.Trungbinhdanhgia <= 3.25)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        else if (ViewBag.Trungbinhdanhgia > 3.25 && ViewBag.Trungbinhdanhgia <= 3.75)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        else if (ViewBag.Trungbinhdanhgia > 3.75 && ViewBag.Trungbinhdanhgia <= 4.25)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        else if (ViewBag.Trungbinhdanhgia > 4.25 && ViewBag.Trungbinhdanhgia <= 4.75)
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half"></i></li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        }
                                    </ul>
                                </div>
                                <div class="price-box pt-20">
                                    <span class="new-price new-price-2">@String.Format("{0:0,0}", Model.gia) VNĐ</span>
                                </div>
                                <div class="product-desc">
                                    <p>
                                        <span>
                                            @Html.Raw(HttpUtility.HtmlDecode(Model.moTa))
                                        </span>
                                    </p>
                                </div>
                                @if (Model.soLuong == 0)
                                {
                                    <button style="background:#ffd700; color:black" class="btn" disabled>Mua hàng</button>
                                }
                                else
                                {
                                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @iIdSanPham = Model.idSanPham, @strURL = Request.Url.ToString() })">
                                        <button style="background:#ffd700; color:black" class="btn">Mua hàng</button>
                                    </a>
                                }
                                <div class="product-additional-info pt-25">
                                    <div class="product-social-sharing pt-25">
                                        <ul>
                                            <li class="facebook">
                                                <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="#"><i class="fa fa-google-plus"></i>Google +</a>
                                            </li>
                                            <li class="instagram">
                                                <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="block-reassurance">
                                    <ul>
                                        <li>
                                            <div class="reassurance-item">
                                                <div class="reassurance-icon">
                                                    <i class="fa fa-check-square-o"></i>
                                                </div>
                                                <p>
                                                    Chính sách bảo mật (chỉnh sửa với sự đảm bảo của
                                                    khách hàng)
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="reassurance-item">
                                                <div class="reassurance-icon">
                                                    <i class="fa fa-truck"></i>
                                                </div>
                                                <p>
                                                    Chính sách giao hàng (chỉnh sửa với sự đảm bảo của
                                                    khách hàng)
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="reassurance-item">
                                                <div class="reassurance-icon">
                                                    <i class="fa fa-exchange"></i>
                                                </div>
                                                <p>
                                                    Chính sách trả hàng (chỉnh sửa với sự đảm bảo của
                                                    Khách hàng)
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wraper end -->
        <!-- Begin Product Area -->
        <div class="product-area pt-35">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="li-product-tab">
                            <ul class="nav li-product-menu">
                                <li>
                                    <a class="active" data-toggle="tab" href="#description"><span>Mô tả</span></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#product-details"><span>Chi tiết sản phẩm</span></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#reviews"><span>Bình luận</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Begin Li's Tab Menu Content Area -->
                    </div>
                </div>
                <div class="tab-content">
                    <div id="description" class="tab-pane active show" role="tabpanel">
                        <div class="product-description">
                            <span>
                                @Html.Raw(HttpUtility.HtmlDecode(Model.moTa))
                            </span>
                        </div>
                    </div>
                    <div id="product-details" class="tab-pane" role="tabpanel">
                        <div class="product-details-manufacturer">
                            <span>@Html.Raw(HttpUtility.HtmlDecode(Model.moTaChiTiet))</span>
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane" role="tabpanel">
                        <div class="product-reviews">
                            <div class="product-details-comment-block">
                                @Html.Action("BinhLuanSP", "NguoiDung", new { id = Model.idSanPham })
                                <div class="review-btn">
                                    <a class="review-links"
                                       href="#"
                                       data-toggle="modal"
                                       data-target="#mymodal">Viết bình luận!</a>
                                </div>
                                <!-- Begin Quick View | Modal Area -->
                                <div class="modal fade modal-wrapper" id="mymodal">
                                    <div class="modal-dialog modal-dialog-centered"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <h3 class="review-page-title">Viết bình luận!</h3>
                                                <div class="modal-inner-area row">
                                                    <div class="col-lg-6">
                                                        <div class="li-review-product">
                                                            <img width="250" src="~/Content/images/@Model.hinhAnh"
                                                                 alt="Li's Product" />
                                                            <div class="li-review-product-desc">
                                                                <p class="li-product-name">
                                                                    @Model.tenSanPham
                                                                </p>
                                                                <p>
                                                                    <span>
                                                                        @Html.Raw(HttpUtility.HtmlDecode(Model.moTa))
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="li-review-content">
                                                            <!-- Begin Feedback Area -->
                                                            @using (Html.BeginForm("ThemBinhLuanSP", "NguoiDung", new { idsanpham = Model.idSanPham }, FormMethod.Post, null))
                                                            {
                                                                <div class="feedback-area">
                                                                    <div class="feedback">
                                                                        <h3 class="feedback-title">Đánh giá</h3>
                                                                        @ViewBag.Thongbao
                                                                        @ViewBag.Thongbao1
                                                                        @ViewBag.Thongbao2
                                                                        @Html.ValidationSummary(true)
                                                                        <p class="feedback-form">
                                                                            <label for="feedback">Đánh giá của bạn</label>
                                                                            <textarea id="noiDung" name="noiDung"
                                                                                      cols="45"
                                                                                      rows="8"
                                                                                      aria-required="true"></textarea>
                                                                        </p>
                                                                        <label>Đánh giá theo sao</label>
                                                                        <select id="soSao" name="soSao" class="star-rating">
                                                                            <option value="1" />
                                                                            <option value="2" />
                                                                            <option value="3" />
                                                                            <option value="4" />
                                                                            <option value="5" />
                                                                        </select>
                                                                        <input type="submit"
                                                                               name="submit"
                                                                               value="Gửi" />
                                                                        <style>
                                                                            input:hover {
                                                                                background-color: #ffd800
                                                                            }
                                                                        </style>
                                                                    </div>
                                                                </div>
                                                            }
                                                            <!-- Feedback Area End Here -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Quick View | Modal Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->
        <section class="product-area li-laptop-product pt-60 pb-45">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Section Area -->
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Sản phẩm liên quan</span>
                            </h2>
                        </div>
                        @Html.Action("SanPhamLienQuan", "NguoiDung", new { @iddanhmuc = Model.idDanhMuc })
                    </div>
                    <!-- Li's Section Area End Here -->
                </div>
            </div>
        </section>
        <!-- Begin Footer Area -->
        <!-- Footer Area End Here -->
        <!-- Begin Quick View | Modal Area -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-inner-area row">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <!-- Product Details Left -->
                                <div class="product-details-left">
                                    <div class="product-details-images slider-navigation-1">
                                        <div class="lg-image">
                                            <img src="images/product/large-size/1.jpg"
                                                 alt="product image" />
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/2.jpg"
                                                 alt="product image" />
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/3.jpg"
                                                 alt="product image" />
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/4.jpg"
                                                 alt="product image" />
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/5.jpg"
                                                 alt="product image" />
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/6.jpg"
                                                 alt="product image" />
                                        </div>
                                    </div>
                                    <div class="product-details-thumbs slider-thumbs-1">
                                        <div class="sm-image">
                                            <img src="images/product/small-size/1.jpg"
                                                 alt="product image thumb" />
                                        </div>
                                        <div class="sm-image">
                                            <img src="images/product/small-size/2.jpg"
                                                 alt="product image thumb" />
                                        </div>
                                        <div class="sm-image">
                                            <img src="images/product/small-size/3.jpg"
                                                 alt="product image thumb" />
                                        </div>
                                        <div class="sm-image">
                                            <img src="images/product/small-size/4.jpg"
                                                 alt="product image thumb" />
                                        </div>
                                        <div class="sm-image">
                                            <img src="images/product/small-size/5.jpg"
                                                 alt="product image thumb" />
                                        </div>
                                        <div class="sm-image">
                                            <img src="images/product/small-size/6.jpg"
                                                 alt="product image thumb" />
                                        </div>
                                    </div>
                                </div>
                                <!--// Product Details Left -->
                            </div>

                            <div class="col-lg-7 col-md-6 col-sm-6">
                                <div class="product-details-view-content pt-60">
                                    <div class="product-info">
                                        <h2>Today is a good day Framed poster</h2>
                                        <span class="product-details-ref">Reference: demo_15</span>
                                        <div class="rating-box pt-20">
                                            <ul class="rating rating-with-review-item">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="review-item">
                                                    <a href="#">Read Review</a>
                                                </li>
                                                <li class="review-item">
                                                    <a href="#">Write Review</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="price-box pt-20">
                                            <span class="new-price new-price-2">$57.98</span>
                                        </div>
                                        <div class="product-desc">
                                            <p>
                                                <span>
                                                    100% cotton double printed dress. Black and white
                                                    striped top and orange high waisted skater skirt
                                                    bottom. Lorem ipsum dolor sit amet, consectetur
                                                    adipisicing elit. quibusdam corporis, earum facilis
                                                    et nostrum dolorum accusamus similique eveniet quia
                                                    pariatur.
                                                </span>
                                            </p>
                                        </div>
                                        <div class="product-variants">
                                            <div class="produt-variants-size">
                                                <label>Dimension</label>
                                                <select class="nice-select">
                                                    <option value="1" title="S" selected="selected">
                                                        40x60cm
                                                    </option>
                                                    <option value="2" title="M">60x90cm</option>
                                                    <option value="3" title="L">80x120cm</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="single-add-to-cart">
                                            <form action="#" class="cart-quantity">
                                                <div class="quantity">
                                                    <label>Quantity</label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box"
                                                               value="1"
                                                               type="text" />
                                                        <div class="dec qtybutton">
                                                            <i class="fa fa-angle-down"></i>
                                                        </div>
                                                        <div class="inc qtybutton">
                                                            <i class="fa fa-angle-up"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="add-to-cart" type="submit">
                                                    Add to cart
                                                </button>
                                            </form>
                                        </div>
                                        <div class="product-additional-info pt-25">
                                            <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i>Add to wishlist</a>
                                            <div class="product-social-sharing pt-25">
                                                <ul>
                                                    <li class="facebook">
                                                        <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                                    </li>
                                                    <li class="twitter">
                                                        <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                                                    </li>
                                                    <li class="google-plus">
                                                        <a href="#"><i class="fa fa-google-plus"></i>Google +</a>
                                                    </li>
                                                    <li class="instagram">
                                                        <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View | Modal Area End Here -->
    </div>
    <!-- Body Wrapper End Here -->
</body>

<!-- single-product31:32-->
</html>
