@using WebsiteGamingGear.Models
@{ 
    ViewBag.Title = "LienHe";
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<!-- contact32:04-->
@Html.Partial("Header")
<body>
    
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        @Html.Partial("MenuTop")
        <!-- Header Area End Here -->
        <!-- Begin Li's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="@Url.Action("TrangChu","NguoiDung")">Trang chủ</a></li>
                        <li class="active">Liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Li's Breadcrumb Area End Here -->
        <!-- Begin Contact Main Page Area -->
        <div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
            <div class="container mb-60">
                <div id="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1614941955977!2d106.64744619999999!3d10.798940399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294937b90939%3A0x9ce6633cbc49c722!2zNzggSG_DoG5nIEhvYSBUaMOhbSwgUGjGsOG7nW5nIDEyLCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1668596989623!5m2!1svi!2s"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                        <div class="contact-page-side-content">
                            <h2 class="contact-page-title">Liên hệ</h2>
                            <div class="single-contact-block">
                                <h4><i class="fa fa-fax"></i> Địa chỉ</h4>
                                <p>
                                    20 Nguyễn Huệ, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí
                                    Minh.
                                </p>
                            </div>
                            <div class="single-contact-block">
                                <h4><i class="fa fa-phone"></i> Điện thoại</h4>
                                <p>Mobile: (08) 123 456 789</p>
                                <p>Hotline: 1009 678 456</p>
                            </div>
                            <div class="single-contact-block last-child">
                                <h4><i class="fa fa-envelope-o"></i> Email</h4>
                                <p>yourmail@domain.com</p>
                                <p>support@hastech.company</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                        <div class="contact-form-content pt-sm-55 pt-xs-55">
                            <h3 class="contact-page-title">
                                Hãy cho chúng tôi biết tin nhắn của bạn
                            </h3>
                            <div class="contact-form">
                                <div id="contact-form">
                                    @{
                                        TaiKhoan tk = (TaiKhoan)Session["TaiKhoan"];
                                    }
                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary(true)
                                        <div class="form-group">
                                            <label>Họ tên <span class="required">*</span></label>
                                            <input type="text"
                                                   value="@tk.ten" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label>Email <span class="required">*</span></label>
                                            <input type="email"
                                                   value="@tk.email" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại</label>
                                            <input type="text"
                                                   value="@tk.soDienThoai" readonly />
                                        </div>
                                        <div class="form-group mb-30">
                                            <label>Nội dung liên hệ</label>
                                            <textarea name="noiDungLH"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit"
                                                    value="submit"
                                                    id="submit"
                                                    class="li-btn-3"
                                                    name="submit">
                                                Gửi
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Main Page Area End Here -->
        <!-- Begin Footer Area -->
        @Html.Partial("Footer")
        <!-- Footer Area End Here -->
    </div>
    <!-- Body Wrapper End Here -->
    
</body>

<!-- contact32:04-->
</html>

