@model IEnumerable<WebsiteGamingGear.Models.SanPham>
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Begin Slider With Banner Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-8 col-md-8">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-1">
                            <img src="~/Content/images/banner1.jpg" alt="" />
                            <div class="slider-content">
                                <h5 style="color:white">Giảm giá <span>20%</span> Trong tuần</h5>
                                <h2 style="color:white">Chuột Logitech</h2>
                                <h3 style="color:white">Giá<span>500.000 VNĐ</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-4-column.html">Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <img src="~/Content/images/banner2.jpg" alt="" />
                            <div class="slider-content">
                                <h5 style="color:white">Giảm giá <span>Thứ sáu</span>Tuần này</h5>
                                <h2 style="color:white">Màn hình máy tính 2022</h2>
                                <h3 style="color:white">Giá <span>15.000.000 VNĐ</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-4-column.html">Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-3">
                            <img src="~/Content/images/banner3.jpg" alt="" />
                            <div class="slider-content">
                                <h5 style="color:white">Giảm giá<span>10%</span> Trong tuần</h5>
                                <h2 style="color:white">Màn hình máy tính 2022</h2>
                                <h3 style="color:white">Giá <span>10.000.000 VNĐ</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-4-column.html">Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="li-banner" style="padding-top: 14px">
                    <a href="#">
                        <img src="~/Content/images/SmallBanner4.png" alt="" />
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                    <a href="#">
                        <img src="~/Content/images/SmallBanner5.png" alt="" />
                    </a>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Product Area -->
<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li>
                            <a class="active" data-toggle="tab" href="#li-new-product"><span>Hàng mới về</span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#li-bestseller-product"><span>Sản phẩm nổi bật</span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#li-featured-product"><span>Sản phẩm bán chạy</span></a>
                        </li>
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="li-new-product"
                 class="tab-pane active show"
                 role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var sanpham in Model)
                        {
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@Url.Action("ChiTietSanPham", "NguoiDung", new { id = sanpham.idSanPham})">
                                            <img src="~/Content/images/@sanpham.hinhAnh"
                                                 alt="Li's Product Image" />
                                        </a>
                                        <span class="sticker">Mới</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <h4>
                                                <a class="product_name" href="@Url.Action("ChiTietSanPham", "NguoiDung", new { id = sanpham.idSanPham})">@sanpham.tenSanPham</a>
                                            </h4>
                                            <div class="price-box">
                                                <span class="new-price">@String.Format("{0:0,0}", sanpham.gia) VNĐ</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active">
                                                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @iIdSanPham = sanpham.idSanPham, @strURL = Request.Url.ToString() })">Mua hàng</a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       title="quick view"
                                                       class="quick-view-btn"
                                                       data-toggle="modal"
                                                       data-target="#exampleModalCenter">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="li-bestseller-product" class="tab-pane" role="tabpanel">
                @Html.Action("LaySPTheoLuotXem", "NguoiDung")
            </div>
            <div id="li-featured-product" class="tab-pane" role="tabpanel">
                @Html.Action("LaySPTheoLuotMua", "NguoiDung")
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner">
                    <a href="#">
                        <img src="~/Content/images/SmallBanner2.png" alt="Li's Static Banner" />
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="#">
                        <img src="~/Content/images/SmallBanner1.png" alt="Li's Static Banner" />
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="#">
                        <img src="~/Content/images/SmallBanner3.png" alt="Li's Static Banner" />
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Man hinh Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Màn hình</span>
                    </h2>
                </div>
                @Html.Action("LaySPTheoManHinh", "NguoiDung")
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product li-tv-audio-product pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Laptop</span>
                    </h2>
                </div>
                @Html.Action("LaySPTheoLaptop", "NguoiDung")
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's TV & Audio Product Area End Here -->
<!-- Begin Li's Static Home Area -->
<div class="li-static-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Begin Li's Static Home Image Area -->
                <div class="li-static-home-image">
                    <img src="~/Content/images/bannerCenter.jpg" width="1175" />
                </div>
                <!-- Li's Static Home Image Area End Here -->
                <!-- Begin Li's Static Home Content Area -->
                <div class="li-static-home-content">
                    <p style="color: white">Giảm giá<span> 20%</span> Trong tuần</p>
                    <h2 style="color: white">Sản phẩm mới</h2>
                    <p class="schedule" style="color: white">
                        Giá
                        <span>10.000.000 VNĐ</span>
                    </p>
                    <div class="default-btn">
                        <a href="shop-left-sidebar.html" class="links">Mua ngay</a>
                    </div>
                </div>
                <!-- Li's Static Home Content Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Li's Static Home Area End Here -->
<!-- Begin Li's Card Product Area -->
<section class="product-area li-trending-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Tab Menu Area -->
            <div class="col-lg-12">
                <div class="li-product-tab li-trending-product-tab">
                    <h2>
                        <span>Card màn hình - Đồ họa</span>
                    </h2>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
                <div class="tab-content li-tab-content li-trending-product-content">
                    <div id="home1" class="tab-pane show fade in active">
                        @Html.Action("LaySPTheoCard", "NguoiDung")
                    </div>
                </div>
                <!-- Tab Menu Content Area End Here -->
            </div>
            <!-- Tab Menu Area End Here -->
        </div>
    </div>
</section>
<!-- Begin Li's Ban Phim Product Area -->
<section class="product-area li-trending-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Tab Menu Area -->
            <div class="col-lg-12">
                <div class="li-product-tab li-trending-product-tab">
                    <h2>
                        <span>Bàn phím</span>
                    </h2>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
                <div class="tab-content li-tab-content li-trending-product-content">
                    <div id="home1" class="tab-pane show fade in active">
                        @Html.Action("LaySPTheoBanPhim", "NguoiDung")
                    </div>
                </div>
                <!-- Tab Menu Content Area End Here -->
            </div>
            <!-- Tab Menu Area End Here -->
        </div>
    </div>
</section>

<!-- Begin Quick View | Modal Area -->
<div class="modal fade modal-wrapper" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-inner-area row">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div class="product-details-images slider-navigation-1">
                                <div class="lg-image">
                                    <img src="images/product/large-size/1.jpg"
                                         alt="product image" />
                                </div>
                                <div class="lg-image">
                                    <img src="images/product/large-size/2.jpg"
                                         alt="product image" />
                                </div>
                                <div class="lg-image">
                                    <img src="images/product/large-size/3.jpg"
                                         alt="product image" />
                                </div>
                                <div class="lg-image">
                                    <img src="images/product/large-size/4.jpg"
                                         alt="product image" />
                                </div>
                                <div class="lg-image">
                                    <img src="images/product/large-size/5.jpg"
                                         alt="product image" />
                                </div>
                                <div class="lg-image">
                                    <img src="images/product/large-size/6.jpg"
                                         alt="product image" />
                                </div>
                            </div>
                            <div class="product-details-thumbs slider-thumbs-1">
                                <div class="sm-image">
                                    <img src="images/product/small-size/1.jpg"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="images/product/small-size/2.jpg"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="images/product/small-size/3.jpg"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="images/product/small-size/4.jpg"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="images/product/small-size/5.jpg"
                                         alt="product image thumb" />
                                </div>
                                <div class="sm-image">
                                    <img src="images/product/small-size/6.jpg"
                                         alt="product image thumb" />
                                </div>
                            </div>
                        </div>
                        <!--// Product Details Left -->
                    </div>

                    <div class="col-lg-7 col-md-6 col-sm-6">
                        <div class="product-details-view-content pt-60">
                            <div class="product-info">
                                <h2>Today is a good day Framed poster</h2>
                                <span class="product-details-ref">Reference: demo_15</span>
                                <div class="rating-box pt-20">
                                    <ul class="rating rating-with-review-item">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                        <li class="review-item">
                                            <a href="#">Read Review</a>
                                        </li>
                                        <li class="review-item">
                                            <a href="#">Write Review</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="price-box pt-20">
                                    <span class="new-price new-price-2">$57.98</span>
                                </div>
                                <div class="product-desc">
                                    <p>
                                        <span>
                                            100% cotton double printed dress. Black and white
                                            striped top and orange high waisted skater skirt
                                            bottom. Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. quibusdam corporis, earum facilis
                                            et nostrum dolorum accusamus similique eveniet quia
                                            pariatur.
                                        </span>
                                    </p>
                                </div>
                                <div class="product-variants">
                                    <div class="produt-variants-size">
                                        <label>Dimension</label>
                                        <select class="nice-select">
                                            <option value="1" title="S" selected="selected">
                                                40x60cm
                                            </option>
                                            <option value="2" title="M">60x90cm</option>
                                            <option value="3" title="L">80x120cm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="single-add-to-cart">
                                    <form action="#" class="cart-quantity">
                                        <div class="quantity">
                                            <label>Quantity</label>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box"
                                                       value="1"
                                                       type="text" />
                                                <div class="dec qtybutton">
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                                <div class="inc qtybutton">
                                                    <i class="fa fa-angle-up"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="add-to-cart" type="submit">
                                            Add to cart
                                        </button>
                                    </form>
                                </div>
                                <div class="product-additional-info pt-25">
                                    <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i>Add to wishlist</a>
                                    <div class="product-social-sharing pt-25">
                                        <ul>
                                            <li class="facebook">
                                                <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="#"><i class="fa fa-google-plus"></i>Google +</a>
                                            </li>
                                            <li class="instagram">
                                                <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick View | Modal Area End Here -->