@model GamingGear.Models.Account.DoiMatKhau

@{
    ViewBag.Title = "DoiMatKhau";
    Layout = null;
}
<body class="preloading">
    <!-- partial:index.partial.html -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="~/Scripts/GamingGearScripts/loader_email.js"></script>
    <link rel="stylesheet" href="~/css/myCss/loginstyle.css" />
    <link rel="stylesheet" href="~/css/myCss/style.css" />
    <div class="load">
        <img src="~/Content/images/Loading.gif" />
    </div>
    <div id="form">
        @using (Html.BeginForm("DoiMatKhau", "Account", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()

            <div class="container">

                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
                    <div id="userform">
                        <div class="tab-content">
                            <h2 class="text-uppercase text-center">Đổi mật khẩu</h2>
                            <h4>@ViewBag.ThongBao2</h4>
                            <h4>@ViewBag.ThongBao3</h4>
                            <form>
                                @using (Html.BeginForm())
                                {
                                    @Html.ValidationSummary(true)


                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <input class="form-control" data-val="true" data-val-length="The field ten must be a string with a maximum length of 50."
                                               data-val-length-max="50" data-val-required="The ten field is required." id="matKhauCu" name="matKhauCu" placeholder="Nhập mật khẩu cũ" type="password" value="">
                                        @ViewBag.ThongBao4
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" data-val="true" data-val-length="The field matKhau must be a string with a maximum length of 200."
                                               data-val-length-max="200" data-val-required="The matKhau field is required." id="matKhauMoi" name="matKhauMoi" placeholder="Nhập mật khẩu mới" type="password" value="">
                                        @ViewBag.ThongBao1
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" data-val="true" data-val-length="The field matKhau must be a string with a maximum length of 200."
                                               data-val-length-max="200" data-val-required="The matKhau field is required." id="xacNhanMatKhau" name="xacNhanMatKhau" placeholder="Nhập lại mật khẩu mới" type="password" value="">
                                        @ViewBag.ThongBao5
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="mrgn-30-top">
                                        <button type="submit" class="btn btn-larger btn-block">
                                            Đổi mật khẩu
                                        </button>
                                    </div>
                                }
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <!-- /.container -->
        }
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- partial -->
    <script src="./script.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/scritps.js"></script>


</body>

